:host {
  display: block;
}

table {
  width: 1200px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}


.table-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  width: 100%;
  gap: 10px;
}

.input-container {
  flex: 85%;
}
