:host {
  display: block;
}

.main-container {
  position: relative;
  max-width: 1500px;
}

.table-container {
  position: relative;
  height: auto;
  overflow: auto;
}

table {
  width: 100%;
}
td {
  text-align: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.table-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  width: 100%;
  gap: 10px;
}

.input-container {
  flex: 85%;
}

th {
  font-weight: 600;
  text-align: center;
}

.actions {
  display: flex;
  gap: 10px;
}